main {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'coming-soon';
}

header {
  padding: 2rem;
  grid-area: header;
}

picture {
  grid-area: image;
  display: inline-grid;
  margin-inline: auto;
}

.coming-soon {
  padding-inline: 2rem;
  grid-area: coming-soon;
}

h1 {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content {
  max-width: 60ch;
  margin-inline: auto;
}
p {
  margin-bottom: 2rem;
}

@media (max-width: 63.99rem) {
  .coming-soon {
    text-align: center;
  }
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: 1fr 610px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'header image'
      'coming-soon image';
  }

  header {
    width: 100%;
    padding-block: 4rem;
  }

  header,
  .coming-soon {
    margin-inline: auto;
    max-width: 30rem;
  }
}
</style > <style > main {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'coming-soon';
}

header {
  padding: 2rem;
  grid-area: header;
}

picture {
  grid-area: image;
  display: inline-grid;
  margin-inline: auto;
}

.coming-soon {
  padding-inline: 2rem;
  grid-area: coming-soon;
}

h1 {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content {
  max-width: 60ch;
  margin-inline: auto;
}
p {
  margin-bottom: 2rem;
}

@media (max-width: 63.99rem) {
  .coming-soon {
    text-align: center;
  }
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: 1fr 610px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'header image'
      'coming-soon image';
  }

  header {
    width: 100%;
    padding-block: 4rem;
  }

  header,
  .coming-soon {
    margin-inline: auto;
    max-width: 30rem;
  }
}
</style > <style > main {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'coming-soon';
}

header {
  padding: 2rem;
  grid-area: header;
}

picture {
  grid-area: image;
  display: inline-grid;
  margin-inline: auto;
}

.coming-soon {
  padding-inline: 2rem;
  grid-area: coming-soon;
}

h1 {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content {
  max-width: 60ch;
  margin-inline: auto;
}
p {
  margin-bottom: 2rem;
}

@media (max-width: 63.99rem) {
  .coming-soon {
    text-align: center;
  }
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: 1fr 610px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'header image'
      'coming-soon image';
  }

  header {
    width: 100%;
    padding-block: 4rem;
  }

  header,
  .coming-soon {
    margin-inline: auto;
    max-width: 30rem;
  }
}
</style > <style > main {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'coming-soon';
}

header {
  padding: 2rem;
  grid-area: header;
}

picture {
  grid-area: image;
  display: inline-grid;
  margin-inline: auto;
}

.coming-soon {
  padding-inline: 2rem;
  grid-area: coming-soon;
}

h1 {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content {
  max-width: 60ch;
  margin-inline: auto;
}
p {
  margin-bottom: 2rem;
}

@media (max-width: 63.99rem) {
  .coming-soon {
    text-align: center;
  }
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: 1fr 610px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'header image'
      'coming-soon image';
  }

  header {
    width: 100%;
    padding-block: 4rem;
  }

  header,
  .coming-soon {
    margin-inline: auto;
    max-width: 30rem;
  }
}
</style > <style > main {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'coming-soon';
}

header {
  padding: 2rem;
  grid-area: header;
}

picture {
  grid-area: image;
  display: inline-grid;
  margin-inline: auto;
}

.coming-soon {
  padding-inline: 2rem;
  grid-area: coming-soon;
}

h1 {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content {
  max-width: 60ch;
  margin-inline: auto;
}
p {
  margin-bottom: 2rem;
}

@media (max-width: 63.99rem) {
  .coming-soon {
    text-align: center;
  }
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: 1fr 610px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'header image'
      'coming-soon image';
  }

  header {
    width: 100%;
    padding-block: 4rem;
  }

  header,
  .coming-soon {
    margin-inline: auto;
    max-width: 30rem;
  }
}
</style > <style > main {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'coming-soon';
}

header {
  padding: 2rem;
  grid-area: header;
}

picture {
  grid-area: image;
  display: inline-grid;
  margin-inline: auto;
}

.coming-soon {
  padding-inline: 2rem;
  grid-area: coming-soon;
}

h1 {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content {
  max-width: 60ch;
  margin-inline: auto;
}
p {
  margin-bottom: 2rem;
}

@media (max-width: 63.99rem) {
  .coming-soon {
    text-align: center;
  }
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: 1fr 610px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'header image'
      'coming-soon image';
  }

  header {
    width: 100%;
    padding-block: 4rem;
  }

  header,
  .coming-soon {
    margin-inline: auto;
    max-width: 30rem;
  }
}
