.container {
  width: 100%;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.header {
  padding-block: 2rem;
}

.content {
  padding-block: 4rem;
}

.content__title {
  color: hsl(var(--neutral-dark));
  font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: 1.1625rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.content__title>small {
  color: hsl(var(--primary-desaturated));
  font-size: inherit;
  font-weight: 300;
  line-height: 100%;
  display: block;
}

.content__text {
  margin-bottom: 2rem;
}

@media (max-width: calc(60rem - 0.001rem)) {
  .content {
    text-align: center;
  }
}

@media (min-width: 60rem) {
  .app__container {
    grid-template-columns: minmax(50%, 830px) min(50%, 610px);
    /* grid-template-columns: 1fr fit-content(50%); */
    grid-template-rows: max-content 1fr;
    background: url(/img/bg-pattern-desktop.svg) hsl(var(--primary)) left/contain no-repeat;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    width: 100%;
    max-width: 90rem;
  }

  .header {
    padding-block: 3rem;
  }

  .container {
    max-width: 32rem;
  }

  .hero {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* max-width: 600px; */
  }

  .attribution {
    font-size: .6875rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(var(--secondary));
  }
}