---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import EmailForm from "../components/EmailForm";

import '../styles/index.css';
---
<Layout title="Base Apparel coming soon page">
	<main>
		<header>
			<Logo />
		</header>
		<picture>
			<source media="(min-width: 64rem)" srcset="/img/hero-desktop.jpg" />
			<img src="/img/hero-mobile.jpg" alt="Base Apparel" />
		</picture>
		<div class="coming-soon">
			<h1><small>We're</small>coming soon</h1>

			<div class="content">
				<p>
					Hello fellow shoppers! We're currently building our new fashion store.
					Add your email below to stay up-to-date with announcements and our
					launch deals.
				</p>
				<EmailForm client:only="react" />
			</div>
		</div>
	</main>
</Layout>