---
import Layout from '../layouts/Layout.astro';
import IconArrow from '../components/IconArrow.astro';
---

<Layout title="Base Apparel coming soon page">
	<main>
  <h1><small>We're</small>coming soon</h1>

	<p>
		Hello fellow shoppers! We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch deals.
	</p>

	<form>
		<input type="email" placeholder='Email Address'/>
		<button type="submit">
			<IconArrow />
		</button>
	</form>
	</main>
</Layout>
<style>
	h1 {
		font-size: clamp(2.5rem, 2.0158rem + 2.0657vw, 3.875rem);
		text-transform: uppercase;
		line-height: 110%;
		letter-spacing: 1.1625rem;
	}

	h1 small {
		font-size: inherit;
		font-weight: 300;
		line-height: 100%;
		display: block;
		color: hsl(var(--primary-desaturated))
	}
</style>
